body {
  font-family: "Niramit", sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
}

li {
  padding: 1.5%;
  background: lightgray;
  margin: 1%;
  margin-left: 0;
  flex-basis: 20%;
}

img {
  width: 75%;
  display: block;
  margin: auto;
}
