body {
  font-family: 'Niramit', sans-serif;
}

ul {
  list-style-type: none;
  padding-left: 0;
  display: flex; 
  flex-wrap: wrap;
}

li {
  padding: 15px;
  background: lightgray;
  margin: 5px;
  flex-basis: 20%;
}

h2 {
  text-align: center;
}
img {
  width: 100%; 
  display: block; 
  margin: auto;
}
.container {
  padding: 20pxß;
  margin: 0 auto;
}