body {
  font-family: 'Niramit', sans-serif;
}

ul {
  list-style-type: none;
  padding-left: 0;
  display: flex; 
}

li {
  padding: 30px;
  background: lightgray;
  margin: 5px;
  width: 20%;
}

h2 {
  text-align: center;
}
img {
  width: 100%; 
  display: block; 
  margin: auto;
}
.container {
  padding: 30px;
  margin: 0 auto;
}